fastapi
uvicorn[standard]
pydantic
pydantic-settings
openai
pinecone
pinecone-text
nltk
langchain-text-splitters
sentence-transformers
torch
python-dotenv
httpx
certifi
langchain-community
beautifulsoup4
langchain-ollama
langchain-groq
langchain-openai
langgraph
grandalf
pytest
pytest-asyncio
rank_bm25
